<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/security 
			http://www.springframework.org/schema/security/spring-security-4.0.xsd
			">
	
	<security:http auto-config="true" >
		
		<security:csrf disabled="true"/>
		
		<security:access-denied-handler error-page="/denied.do"/>
		
		<security:intercept-url pattern="/login.do" access="permitAll"/>
		<security:intercept-url pattern="/admin.do" access="hasRole('ROLE_ADMIN')"/>
		<security:intercept-url pattern="/common.do" access="hasRole('ROLE_USER')"/>
		
		<security:form-login
				login-page="/login.do" 
				login-processing-url="/j_spring_security_check"
				username-parameter="j_username"
				password-parameter="j_password"
				authentication-failure-url="/login.do?error=true" 
				default-target-url="/common.do"/>
		<security:logout 
				invalidate-session="true" 
				logout-success-url="/login.do" 
				logout-url="/j_spring_security_logout"
				/>
	</security:http>
	
	<security:authentication-manager>
      <security:authentication-provider>
         <security:jdbc-user-service data-source-ref="spring_secutiry_db"
           users-by-username-query=
		    "select username,password, enabled from users where username=?"
		  authorities-by-username-query=
		    "select username, role from user_roles where username =?  "
		  />
      </security:authentication-provider>
    </security:authentication-manager>
	
</beans>

