<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-4.0.xsd ">
	
	<!-- 开启注释 -->		
	<context:annotation-config></context:annotation-config>
    <!-- 扫描路径 -->
    <context:component-scan base-package="com.controller"></context:component-scan>
    <!-- mvc注解开启 -->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!-- 配置默认返回返回地址拼接 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
          <property name="viewClass" value="org.springframework.web.servlet.view.InternalResourceView"></property>
          <property name="prefix" value="/jsp/"/>
          <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 静态资源获取放行 -->
    <mvc:resources location="/images/" mapping="/images/**"/> 
	<mvc:resources location="/css/" mapping="/css/**"/> 
	<mvc:resources location="/js/" mapping="/js/**"/>
    
    <!-- 配置拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 配置拦截路径 -->
			<mvc:mapping path="/**" />
			<!-- 配置放行路径 -->
			<mvc:exclude-mapping path="/images/**"/>
			<mvc:exclude-mapping path="/css/**"/>
			<mvc:exclude-mapping path="/js/**"/>
			<mvc:exclude-mapping path="/druid/**"/>
			<!-- 配置拦截器的映射类 -->
			<bean id="commonInterCepter" class="com.intercepter.CommonIntercepter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>    
	
</beans>